<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posamezen vnos</title>
</head>
<body>
    <h3>One guests info:</h3>
    <ul>
        <li> Guests id: {{ guest.key.id() }}</li>
        <li> Guests name: {{ guest.name }},</li>
        <li> Guests surname: {{ guest.surname }},</li>
        <li> Guests email: {{ guest.email }},</li>
        <li> Guests message: {{ guest.message }},</li>
        <li> Guests date: {{ guest.date }}</li>
    </ul>
    <a href="/vnos/{{ guest.key.id() }}/uredi">uredi</a>
</body>
</html>
